.r6-scheduler {            
    width: 245px;
    margin: 0 auto;
}
.r6-month-year-title-wrapper {
    text-align: center;
    position: relative;
}
.r6-prev-month,
.r6-next-month {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    position: absolute;
    top: 7px;
    cursor: pointer;
}
.r6-prev-month {
    transform: rotate(135deg);
    left: 0;
}
.r6-next-month {    
    transform: rotate(-45deg);
    right: 0;
}
.r6-cell,
.r6-day {
    display: inline-block;
    width: calc(100%/7);
    text-align: center;
}
.r6-day.r6-empty-day {
    color: gray;
}
